html{
    background: rgb(172, 146, 172);
}
.contenedor{
    background: whitesmoke;
    width: 400px;
    height: 250px;
    margin: auto;
}
.btnDelete{
    display: hidden;
}
.btnDelete :hover{
    display: show;
}